snippet frame
\begin{frame}
	${1:Description}
\end{frame}
endsnippet

snippet figure
\begin{figure}
	\includegraphics[width=${1:size}\linewidth]{${2:figname}}
\end{figure}
endsnippet

snippet align
\begin{align}
	${1:hgoe}
\end{align}
endsnippet

snippet align*
\begin{align*}
	${1:hgoe}
\end{align*}
endsnippet
